results/
tests/
pipeline_output/
install/Dockerfile.koalas
install/Dockerfile.modin_unidist
install/Dockerfile.modin_hdk
install/Dockerfile.polars_big
test_runner.sh
make_charts_old.py
*.png
*.pyc
*.lock
*.venv
*.vscode
**/__pycache__
**/.ipynb_checkpoints
**/dask-worker-space
*.log
*.csv
*.tar.gz
*.save