haversine==2.8.1
pandas==2.2.1
numpy==1.26.4
docker==7.0.0
ansicolors==1.1.8
pydantic==2.7.0
pyspark==3.5.1
pyarrow==15.0.2
modin==0.29.0
ray==2.10.0
grpcio==1.62.1
vaex==4.17.0
datatable==1.1.0
polars==0.20.23
modin==0.29.0
memory-profiler==0.61.0
